//************************* General******************************
//-------------------------Imports-------------------------------
//plugins
@import url('/src/assets/css/bootstrap.min.css');
@import url('/src/assets/css/plugins/owl-carousel/owl.carousel.css');
@import url('/src/assets/css/plugins/magnific-popup/magnific-popup.css');
@import url('/src/assets/css/plugins/jquery.countdown.css');

//main css

@import url('/src/assets/css/style.css');
@import url('/src/assets/css/skins/skin-demo-13.css');
@import url('/src/assets/css/demos/demo-13.css');


//---------------------------------------------------------------

//--------------------------Cards--------------------------------
//---------------------------------------------------------------

//---------------------------Middle------------------------------
//---------------------------------------------------------------

//---------------------------Bottom------------------------------
//---------------------------------------------------------------
//***************************************************************




//************************** Header******************************

//----------------------------Top--------------------------------
//---------------------------------------------------------------

//---------------------------Middle------------------------------

.megamenu{
  display: none;
}
//---------------------------------------------------------------

//---------------------------Bottom------------------------------
//---------------------------------------------------------------
//***************************************************************

//*************************** Main*******************************

//----------------------------Top--------------------------------
//---------------------------------------------------------------

//---------------------------Middle------------------------------
//---------------------------------------------------------------

//---------------------------Bottom------------------------------
//---------------------------------------------------------------
//***************************************************************

//************************** Footer******************************

//----------------------------Top--------------------------------
//---------------------------------------------------------------

//---------------------------Middle------------------------------
//---------------------------------------------------------------

//---------------------------Bottom------------------------------
//---------------------------------------------------------------
//***************************************************************

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #7477ff;
  }
  button {
    background-color: #f9f9f9;
  }
}
